<<<<<<< HEAD
.cost {

    margin-top: 50px;

    &__title {
        font-size: 80px;
        font-weight: 700;
        text-align: center;

        @include laptop {
            font-size: 60px;
        }

        @include tablet {
            font-size: 40px;
        }

        & span {
            background: linear-gradient(224deg, #B8995E 27.53%, #F6EEAB 51.57%, #C19A5F 99.43%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__list {
        margin-top: 50px;
        background: url(../images/bilens-bg.png);
        background-size: contain;

        @include tablet {
            margin-top: 40px;
        }
    }

    &__item {
        margin-bottom: 60px;
        padding: 65px;
        border-radius: 11px;
        border: 1px solid #B8995E;
        background: linear-gradient(180deg, rgba(29, 29, 29, 0.40) -4.5%, rgba(62, 62, 62, 0.26) 55.96%, rgba(29, 29, 29, 0.08) 131.25%);

        @include laptop {
            padding: 40px;
        }

        @include tablet {
            padding: 20px 30px;
            margin-bottom: 30px;
        }

        @include phone {
            padding: 20px;
        }

        &:last-child {
            margin: 0;
        }

        & h5 {
            font-size: 25px;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: 2.5px;
            text-transform: uppercase;

            @include tablet {
                font-size: 20px;
            }

            @include phone {
                font-size: 5vw;
            }
        }
    }

    &__reasons {
        margin-top: 30px;

        @include mobile {
            margin-top: 20px;
        }

        & li {
            line-height: 148.122%;
            letter-spacing: 2px;
            opacity: .8;
            margin-left: 20px;
            list-style: disc;  

            @include tablet {
                font-size: 16px;
            }

            @include mobile {
                font-size: 12px;
            }
        }
    }
=======
.cost {

    margin-top: 50px;

    &__title {
        font-size: 80px;
        font-weight: 700;
        text-align: center;

        @include laptop {
            font-size: 60px;
        }

        @include tablet {
            font-size: 40px;
        }

        & span {
            background: linear-gradient(224deg, #B8995E 27.53%, #F6EEAB 51.57%, #C19A5F 99.43%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__list {
        margin-top: 50px;
        background: url(../images/bilens-bg.png);
        background-size: contain;

        @include tablet {
            margin-top: 40px;
        }
    }

    &__item {
        margin-bottom: 60px;
        padding: 65px;
        border-radius: 11px;
        border: 1px solid #B8995E;
        background: linear-gradient(180deg, rgba(29, 29, 29, 0.40) -4.5%, rgba(62, 62, 62, 0.26) 55.96%, rgba(29, 29, 29, 0.08) 131.25%);

        @include laptop {
            padding: 40px;
        }

        @include tablet {
            padding: 20px 30px;
            margin-bottom: 30px;
        }

        @include phone {
            padding: 20px;
        }

        &:last-child {
            margin: 0;
        }

        & h5 {
            font-size: 25px;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: 2.5px;
            text-transform: uppercase;

            @include tablet {
                font-size: 20px;
            }

            @include phone {
                font-size: 5vw;
            }
        }
    }

    &__reasons {
        margin-top: 30px;

        @include mobile {
            margin-top: 20px;
        }

        & li {
            line-height: 148.122%;
            letter-spacing: 2px;
            opacity: .8;
            margin-left: 20px;
            list-style: disc;  

            @include tablet {
                font-size: 16px;
            }

            @include mobile {
                font-size: 12px;
            }
        }
    }
>>>>>>> 7aa95e97a424412ad8c64289a6bc9aa879ca72b9
}