<<<<<<< HEAD
.process {

    padding: 60px 0 0 0px;

    &__title {
        max-width: 1110px;
        margin: 0 auto;
        text-align: center;
        font-size: 70px;
        font-weight: 600;
        text-transform: uppercase;

        @include laptop {
            font-size: 44px;
        }

        @include mobile {
            font-size: 35px;
            text-transform: none;
        }
    }

    &__text {
        max-width: 920px;
        margin: 10px auto 0;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        line-height: 170%;
        letter-spacing: 0.8px;

        @include tablet {
            font-size: 16px;
        }

        @include mobile {
            font-size: 12px;
            max-width: 320px;
        }

        @include phone {
            font-size: 10px;
        }
    }

    &__list {
        margin-top: 100px;
        counter-reset: item;
        list-style: none;
        display: flex;
        gap: 35px;

        @include tablet {
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
    }

    &__item {
        position: relative;
        flex: 1 1 0;
        padding: 45px 20px;
        border-radius: 60px 0px;
        background: var(--fd, linear-gradient(224deg, #B8995E 17.6%, #F6EEAB 124.36%, #C19A5F 169.11%));

        @include tablet {
            min-width: 280px;
            width: 70%;
        }

        @include phone {
            padding: 35px 15px;
        }

        &::before {
            position: absolute;
            top: -18px;
            left: 16px;
            counter-increment: item;
            content: counter(item, decimal-leading-zero);
            content: counter(item) " ";
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            font-size: 20px;
            font-weight: 500;
            line-height: 112.041%;
            /* 22.408px */
            flex-shrink: 0;
            border-radius: 6px;
            border: 1px solid rgba(255, 255, 255, 0.40);
            background: linear-gradient(224deg, #B8995E 17.6%, #F6EEAB 124.36%, #C19A5F 169.11%);
            box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25), 4px 4px 4px 0px rgba(255, 255, 255, 0.25) inset, -4px -4px 4px 0px rgba(255, 255, 255, 0.25) inset;

            @include tablet {
                top: -12px;
                left: 13px;
                width: 38px;
                height: 38px;
            }
        }

        &--title {
            font-size: 25px;
            font-weight: 700;
            color: #000;

            @include desktop {
                font-size: 2vw;
            }

            @include ipad {
                font-size: 1.8vw;
            }

            @include tablet {
                font-size: 20px;
            }
        }

        &--text {
            margin-top: 20px;
            color: #000;

            @include laptop {
                font-size: 2vw;
            }

            @include ipad {
                font-size: 1.8vw;
            }

            @include tablet {
                font-size: 13px;
            }
        }
    }
=======
.process {

    padding: 60px 0 0 0px;

    &__title {
        max-width: 1110px;
        margin: 0 auto;
        text-align: center;
        font-size: 70px;
        font-weight: 600;
        text-transform: uppercase;

        @include laptop {
            font-size: 44px;
        }

        @include mobile {
            font-size: 35px;
            text-transform: none;
        }
    }

    &__text {
        max-width: 920px;
        margin: 10px auto 0;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        line-height: 170%;
        letter-spacing: 0.8px;

        @include tablet {
            font-size: 16px;
        }

        @include mobile {
            font-size: 12px;
            max-width: 320px;
        }

        @include phone {
            font-size: 10px;
        }
    }

    &__list {
        margin-top: 100px;
        counter-reset: item;
        list-style: none;
        display: flex;
        gap: 35px;

        @include tablet {
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
    }

    &__item {
        position: relative;
        flex: 1 1 0;
        padding: 45px 20px;
        border-radius: 60px 0px;
        background: var(--fd, linear-gradient(224deg, #B8995E 17.6%, #F6EEAB 124.36%, #C19A5F 169.11%));

        @include tablet {
            min-width: 280px;
            width: 70%;
        }

        @include phone {
            padding: 35px 15px;
        }

        &::before {
            position: absolute;
            top: -18px;
            left: 16px;
            counter-increment: item;
            content: counter(item, decimal-leading-zero);
            content: counter(item) " ";
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            font-size: 20px;
            font-weight: 500;
            line-height: 112.041%;
            /* 22.408px */
            flex-shrink: 0;
            border-radius: 6px;
            border: 1px solid rgba(255, 255, 255, 0.40);
            background: linear-gradient(224deg, #B8995E 17.6%, #F6EEAB 124.36%, #C19A5F 169.11%);
            box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25), 4px 4px 4px 0px rgba(255, 255, 255, 0.25) inset, -4px -4px 4px 0px rgba(255, 255, 255, 0.25) inset;

            @include tablet {
                top: -12px;
                left: 13px;
                width: 38px;
                height: 38px;
            }
        }

        &--title {
            font-size: 25px;
            font-weight: 700;
            color: #000;

            @include desktop {
                font-size: 2vw;
            }

            @include ipad {
                font-size: 1.8vw;
            }

            @include tablet {
                font-size: 20px;
            }
        }

        &--text {
            margin-top: 20px;
            color: #000;

            @include laptop {
                font-size: 2vw;
            }

            @include ipad {
                font-size: 1.8vw;
            }

            @include tablet {
                font-size: 13px;
            }
        }
    }
>>>>>>> 7aa95e97a424412ad8c64289a6bc9aa879ca72b9
}